header {
  background-color: red;
  text-align:center;
}
.column-1 {
  background-color: yellow;
  width: 46%;
  display: inline-block;
  vertical-align: top;
  padding: 1em;
  margin: .1em;
}
.column-2 {
  background-color: green;
  width: 46%;
  display: inline-block;
  vertical-align: top;
  padding: 1em;
  margin: .1em;
}
footer {
  background-color: pink;
  text-align:center;
}